@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&display=swap');
*{
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background: #EBEBED;
}
/*********************header*************/
.header{
  // background: #E8E7EC;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  .header-logo{
    display: flex;
    margin-right: 60px;
    img{
      margin-right: 10px;
    }
    span{
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      color: #1C5A25;
    }
  }
  .header-navbar{
    margin-right: 60px;
    ul{
      li{
        display: inline;
        margin-right: 10px;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none;
      }
      a{
        text-decoration: none;
        color: #000;
      }
      a:hover{
      text-decoration: underline;
      color: #AF2060;
      }

    }
    .active{
      text-decoration: underline;
      color: #AF2060;
    }
}
.header-number{
  display: flex;
  margin-right: 30px;
  img{
    margin-right: 5px;
  };
  span{
    margin-top: 4px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #1C5A25;

  }
}
.header-button{
  display: flex;
  background: #AF2060;
border-radius: 30px;
width: 150px;
height: 50px;
box-sizing: border-box;
align-items: center;
line-height: 23px;
padding: 12px 25px;

span{
  // font-family: Proxima Nova;
  font-weight: 600;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;


color: #FFFFFF;
}
img{
  margin-right: 3px;
}
.button-delimeter{width: 2px;
height: 25px;
left: 1219px;
top: 51px;
margin: 0 5px;
// margin-right: 2px;
// margin-left: 2px;
background: rgba(255, 255, 255, 0.25);}

}
.header-line{
  position: absolute;
width: 100%;
height: 1px;
left: 0px;
top: 130px;

background: #C4C4C4;
}
}
/*********************header*************/
/*********************Content*************/
.content{
  padding: 40px 130px;
  align-items: center;
    display: flex;
    flex-direction: column;
    // height: 700px;
    h4{
      font-family: Montserrat Alternates;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 98.9%;
      text-align: center;
      color: #093719;
      margin-top: 40px;
      margin-bottom: 60px;
      span{
        color: #AF2060;
      }
    }
}

.content__inform{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

}
.content__inform-video{
  img{
    width: 863px;
    height: 487px;
  }
}
/*********************CONTENT-INFORM*************/
/*********************CONTENT-PROCESS*************/
.content__process{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 800px;

}



/*********************CONTENT-PROCESS*************/
/*********************FOOTER*************/
.footer{

}
.footer__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 1449px;
height: 60px;
background: #AF2060;
  // margin-right: 60px;
  ul{

    display: flex;
    align-items: center;

    li{
      display: inline;
      margin-right: 10px;
      box-sizing: border-box;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin: 0 20px;
/* identical to box height */


color: #000000;
      text-decoration: none;
    }
    a{
      text-decoration: none;
      color: #000;
    }
    a:hover{
    text-decoration: underline;
    // color: #AF2060;
    }

  }
  .active{
    text-decoration: underline;
    color: #AF2060;
  }
}
.footer__down-info{
  display: flex;
}
.footer__down-social{
  display: flex;
}
.footer__down{
  background: #ADB3AE;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.footer__down-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    margin-bottom: 20px;
  }
  span{
     color: #AF2060;
  }
}
.footer__down-social{
  img{
    margin-right: 40px;
  }
  img:last-child{
    margin-right: 0;
  }
}
/*********************FOOTER*************/
