@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&display=swap');
*{
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
}

/*********************header*************/
.button{
  &:hover{
    background: #7E1142;
  }
}
.header{
  // background: #E8E7EC;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  .header-logo{
    display: flex;
    margin-right: 60px;
    img{
      margin-right: 10px;
    }
    span{
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      color: #1C5A25;
    }
  }
  .header-navbar{
    margin-right: 60px;
    ul{
      li{
        display: inline;
        margin-right: 10px;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none;
      }
      a{
        text-decoration: none;
        color: #000;
      }
      a:hover{
      text-decoration: underline;
      color: #AF2060;
      }

    }
    .active{
      text-decoration: underline;
      color: #AF2060;
    }
}
.header-number{
  display: flex;
  margin-right: 30px;
  img{
    margin-right: 5px;
  };
  span{
    margin-top: 4px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #1C5A25;

  }
}
.header-button{
  display: flex;
  background: #AF2060;
border-radius: 30px;
width: 150px;
height: 50px;
box-sizing: border-box;
align-items: center;
line-height: 23px;
padding: 12px 25px;
&:hover{
  background: #7E1142;
}
span{
  // font-family: Proxima Nova;
  font-weight: 600;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;


color: #FFFFFF;
}
img{
  margin-right: 3px;
}
.button-delimeter{width: 2px;
height: 25px;
left: 1219px;
top: 51px;
margin: 0 5px;
// margin-right: 2px;
// margin-left: 2px;
background: rgba(255, 255, 255, 0.25);}

}

.header-line{
  position: absolute;
width: 100%;
height: 1px;
left: 0px;
top: 130px;

background: #C4C4C4;
}
}
/*********************header*************/
/*********************first*************/
.first{

  height: 900px;
  // width: 1400px;
  background: url("../img/Home/first-bg.jpg") center;

  .first-container{
    padding: 40px 130px;
    margin: 0px 50px;
    h1{
      margin-top: 10vh;
    }
    h2{
      margin-bottom: 40px;
    }
    .first-triggers{
      margin-bottom: 40px;
      h4{
        margin-bottom: 6px;

    }
  }
  h1{
    font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */


  color: #093719;
  }
  h2{
    font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;

color: #1C5A25;
  }
  h4{

  font-family: Montserrat Alternates;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;

color: #1C5A25;}

  .button{
    box-sizing: border-box;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px;
    background: #AF2060;

/* Тень кнопки */

box-shadow: 3px 4px 9px rgba(139, 62, 113, 0.49);
border-radius: 24px;
box-sizing: border-box;
a{
  text-decoration: none;
  font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}
  }
  .first-button{
    width: 261px;
height: 52px;
&:hover{
  background: #7E1142;
}
  }
  }
}
/*********************first*************/
/*********************two*************/
.second{
  height: 900px;
  background: #E8E7EC;
  .second-container{
    display: flex;
    padding: 116px 30px ;

  .second-container__about{
    h2{
      margin-top: 70px;
      margin-bottom: 60px;
      font-family: Montserrat Alternates;
      font-style: normal;
      font-weight: 900;
      font-size: 64px;
      line-height: 63px;
      color: #093719;
      span{
        color: #AF2060;
      }
    }
    p{
      font-family: Montserrat Alternates;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 22px;
      width: 442px;
      color: #1C5A25;
    span{
          color: #AF2060;

        }
        .green{
          color: #8CC63F;
        }
    }
  }
  }
}
/*********************two*************/
/*********************three*************/
.three{
  background: #E8E7EC;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  height: 600px;
    h4{
      font-family: Montserrat Alternates;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 98.9%;
      margin-bottom: 30px;
      /* identical to box height, or 36px */
      color: #093719;
      span{
        color: #AF2060;
          }
      }
    .three-up,.three-down{
      display: flex;
    }
    .three-item{
      width: 353px;
      height: 150px;
      margin: 20px;
      display: flex;
    }
    .three-item__img{
      width: 164px;
      height: 150px;

      border-radius: 30px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
     .item1 {
       .three-item__img{
      background: rgba(175, 32, 96, 0.24);
    }
    h6{span{color: #AF2060;}}
    }
    .item2 {
      .three-item__img{
        background: rgba(57, 181, 74, 0.23);
      }
        h6{span{color: #86C039;}}
    }
    .item3 {
      .three-item__img{
      background: rgba(98, 63, 198, 0.28);}
      h6{span{color: #A53A8D;}}
    }
    .item4 {
      .three-item__img{
      background: rgba(171, 181, 57, 0.23);}
      h6{span{color: #8A68E8;}}
    }
    .item5 {
      .three-item__img{
      background: rgba(63, 190, 198, 0.28);}
      h6{span{color: #AF2060;}}
    }
    .item6 {.three-item__img{
      background: rgba(198, 156, 109, 0.38);}
      h6{span{color: #39B54A;}}
    }
    .three-item__text{
      width: 164px;
      height: 150px;
      margin: 15px;
      h6{
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 98.9%;
        color: #000000;
        margin-bottom: 10px;
      }
      p{
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 98.9%;
        color: #000000;
      }
    }
}
/*********************three*************/
/*********************four*************/
.four{
  background: #E8E7EC;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  height: 800px;
  h4{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 98.9%;
    text-align: center;
    color: #093719;
    span{
      color: #AF2060;
    }
  }
}
.four__items{
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
}
.four__item{
  margin-right: 40px;

  .four__item-contaier{
    width: 260.6px;
    height: 335.03px;
    background: #9BCEA3;
    box-shadow: 2px 7px 20px #39B54A;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  img{
    width: 215.5px;
    height: 216px;
  }
  h6{
    margin: 10px 0px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 98.9%;
    /* or 20px */

    text-align: center;
  }
  .four__item-buttons{
    display: flex;
    .four__item-button{
      justify-content: center;
      align-items: center;
      display: flex;
      width: 101.66px;
      height: 28.38px;
      background: #E8E7EC;
      border-radius: 30px;
      cursor: pointer;
      &.active{
        font-weight: bold;
        font-size: 14px;
        line-height: 98.9%;
        background: #8CC63F;
        border: 3px solid rgba(28, 90, 37, 0.37);
      }
      &:hover{
        border: 3px solid rgba(28, 90, 37, 0.37);
      }
      &.disabled{
        color: grey;
        cursor: alias;
        opacity: 60%;
      }

    }
    .four__item-button:first-child{
      margin-right: 10px;
    }
  }
  .four__item-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    .four__item-footer-salary{
      margin-right: 20px;
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 98.9%;
      text-align: center;}

        }
    .four__item-footer__button{
      cursor: pointer;
      // width: 136.67px;
      height: 41.67px;
          width: 160px;
      border: 2px solid #AF2060;
      box-sizing: border-box;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        background: #AF2060;
        span{
          color: #fff;

        }
        i{
          background: #fff;
          color: #AF2060;
        }

        svg {
          path {
            fill:#fff;
          }
        }
      }
      img{
        // position: absolute;
        width: 22px;
        height: 11px;

      }
      span{
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 98.9%;
        text-align: center;
        color: #AF2060;
        margin-right: 6px;
        margin-left: 5px;
      }
      i{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #AF2060;
        color: #fff;
        font-weight: 600;
        width: 18px;
        height: 18px;
        font-style: normal;
        font-size: 13px;
        line-height: 22px;
        margin-right: 10px;

      }
    }

}
.four__nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 60px;
}
.four__nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 12px solid #9BCEA3;
transform: matrix(-1, 0, 0, 1, 0, 0);
margin-right: 20px;

}
.four__nav-button:first-child{
  img{
    transform: rotate(180deg);

  }

}
.four__nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  .active{
    background: #AF2060;
  }
}
.four__nav-link{
  box-sizing: border-box;
  width: 23.19px;
  height: 19px;
  border-radius: 50%;
  background: #9BCEA3;
  margin-right: 20px;
  cursor: pointer;
  &:hover{
    border: 1px solid rgba(28, 90, 37, 0.37);
  }
}

.four-button{
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 421px;
  height: 57px;
  background: #AF2060;
  box-shadow: 3px 4px 9px rgba(139, 62, 113, 0.49);
  border-radius: 17px;
  span{font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 98.9%;
/* identical to box height, or 18px */

text-align: center;
letter-spacing: 0.02em;

color: #EAEAEC;
margin-right: 30px;}
img{
  width: 33.02px;
height: 25.29px;
}
}

.five{
  background: #E8E7EC;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  height: 700px;
  h4{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 98.9%;
    text-align: center;
    color: #093719;
    span{
      color: #AF2060;
    }
  }
}
/*********************four*************/
/*********************five*************/
.box{
  margin: 0 auto;
  margin-top: 160px;
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	/*animation: animate 20s linear infinite;*/
	transform: perspective(1000px) rotateY(0deg);
}
/*
@keyframes animate{
	0%{
		transform: perspective(1000px) rotateY(0deg);
	}
	100%{
		transform: perspective(1000px) rotateY(360deg);
	}*/
/*}*/
.box span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
	// -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}
.box span img{
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 250px;
	object-fit: cover;
}
/*********************five*************/
/*********************six*************/
.six{
  background: #E8E7EC;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  height: 700px;


  h4{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 98.9%;
    text-align: center;
    color: #093719;
    span{
      color: #AF2060;
    }
  }
  .six__offer{
    margin-top: 50px;
    margin-bottom: 40px;
    h4{text-align: left;}
    p{
      font-family: Montserrat Alternates;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 98.9%;
      color: #000000;
    }
  }
}
/*********************six*************/

/*********************seven*************/
.seven{
  background: #E8E7EC;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  height: 700px;
.seven__container{
  display: flex;
}
.seven__container-offer{
  margin-top: 120px;
}
  h4{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 98.9%;
    text-align: center;
    color: #093719;
    margin-bottom: 30px;
    span{
      color: #AF2060;
    }
  }
  p{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    width: 442px;
    color: #1C5A25;
  span{
        color: #AF2060;

      }
      .green{
        color: #8CC63F;
      }
  }

}

/*********************seven*************/
/*********************eight*************/
.eight{
  background: #E8E7EC;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  height: 700px;
.eight__container{
  display: flex;
  margin-bottom: 60px;
}
h4{
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 98.9%;
  text-align: center;
  color: #093719;
  margin-bottom: 30px;
  span{
    color: #AF2060;
  }
}
.eight__container-img img{
  width: 486px;
height: 407px;
}
.eight__container-form{
  margin-top: 60px;
  input{
    padding: 10px;
    border: 1px solid #AF2060;
box-sizing: border-box;
border-radius: 25px;
background: none;
width: 393px;
height: 61px;
margin-bottom: 20px;

font-family: Montserrat Alternates;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 98.9%;
/* identical to box height, or 18px */
&:focus{
  // border:none;
}

color: #000000;
  }
  input:last-child{
    width: 650px;
height: 190px;
  }
}
.eight__container-buton{
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 421px;
  height: 57px;
  background: #AF2060;
  box-shadow: 3px 4px 9px rgba(139, 62, 113, 0.49);
  border-radius: 17px;

  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 98.9%;
  /* identical to box height, or 18px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #EAEAEC;
  &:hover{
    background: #7E1142;
  }
}
}
/*********************eight*************/
/*********************FOOTER*************/
.footer{

}
.footer__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 1449px;
height: 60px;
background: #AF2060;
  // margin-right: 60px;
  ul{

    display: flex;
    align-items: center;

    li{
      display: inline;
      margin-right: 10px;
      box-sizing: border-box;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin: 0 20px;
/* identical to box height */


color: #000000;
      text-decoration: none;
    }
    a{
      text-decoration: none;
      color: #000;
    }
    a:hover{
    text-decoration: underline;
    // color: #AF2060;
    }

  }
  .active{
    text-decoration: underline;
    color: #AF2060;
  }
}
.footer__down-info{
  display: flex;
}
.footer__down-social{
  display: flex;
}
.footer__down{
  background: #ADB3AE;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.footer__down-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    margin-bottom: 20px;
  }
  span{
     color: #AF2060;
  }
}
.footer__down-social{
  img{
    margin-right: 40px;
    width: 30px;
    height: 30px;
    margin-top: 20px;

    cursor: pointer;

  }
  img:last-child{
    margin-right: 0;
  }
}
/*********************FOOTER*************/
