@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,900&display=swap');
*{
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
}

/*********************header*************/
.header{
  // background: #E8E7EC;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 130px;
  .header-logo{
    display: flex;
    margin-right: 60px;
    img{
      margin-right: 10px;
    }
    span{
      font-family: 'Montserrat Alternates', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      color: #1C5A25;
    }
  }
  .header-navbar{
    margin-right: 60px;
    ul{
      li{
        display: inline;
        margin-right: 10px;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none;
      }
      a{
        text-decoration: none;
        color: #000;
      }
      a:hover{
      text-decoration: underline;
      color: #AF2060;
      }

    }
    .active{
      text-decoration: underline;
      color: #AF2060;
    }
}
.header-number{
  display: flex;
  margin-right: 30px;
  img{
    margin-right: 5px;
  };
  span{
    margin-top: 4px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #1C5A25;

  }
}
.header-button{
  display: flex;
  background: #AF2060;
border-radius: 30px;
width: 150px;
height: 50px;
box-sizing: border-box;
align-items: center;
line-height: 23px;
padding: 12px 25px;

span{
  // font-family: Proxima Nova;
  font-weight: 600;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;


color: #FFFFFF;
}
img{
  margin-right: 3px;
}
.button-delimeter{width: 2px;
height: 25px;
left: 1219px;
top: 51px;
margin: 0 5px;
// margin-right: 2px;
// margin-left: 2px;
background: rgba(255, 255, 255, 0.25);}

}
.header-line{
  position: absolute;
width: 100%;
height: 1px;
left: 0px;
top: 130px;

background: #C4C4C4;
}
}
/*********************header*************/
body{
  background: #EBEBED;
}

/*********************header*************/
.content{

  padding: 40px 130px;
}
.content__top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
/*********************header*************/
.categories{
  ul{
    li{
      display: inline;
      margin-right: 10px;
      box-sizing: border-box;
      font-style: normal;
      font-weight: 900;
      font-size: 13px;
      line-height: 16px;
      text-decoration: none;


      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;

    }

}



}


.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color:  #AF2060;
      border-bottom: 1px dashed  #AF2060;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color:  #AF2060;
        }
      }
    }
  }
}

/************************Content Title*********************/
.content__title{
  h4{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 40px;
  }
}
/*******************ITEMS*************************/
.content__items{
  display: flex;
  justify-content: space-between; // прикол чтобы располагать равномерно
  flex-wrap: wrap; // прикол чтобы располагать в несколько строк
  margin-bottom: 40px;
}
/*******************ITEM**************************/

.content__item:not(:nth-of-type(4n)) {
    margin-right: 29px;
}
.content__item{
  margin-bottom: 80px;

  .content__item-contaier{
    width: 260.6px;
    height: 335.03px;
    background: #9BCEA3;
    box-shadow: 2px 7px 20px #39B54A;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  img{
    width: 215.5px;
    height: 216px;
  }
  h6{
    margin: 10px 0px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 98.9%;
    /* or 20px */

    text-align: center;
  }
  .content__item-buttons{
    display: flex;
    .content__item-button{
      justify-content: center;
      align-items: center;
      display: flex;
      width: 101.66px;
      height: 28.38px;
      background: #E8E7EC;
      border-radius: 30px;
      cursor: pointer;
      &.active{
        font-weight: bold;
        font-size: 14px;
        line-height: 98.9%;
        background: #8CC63F;
        border: 3px solid rgba(28, 90, 37, 0.37);
      }
      &:hover{
        border: 3px solid rgba(28, 90, 37, 0.37);
      }
      &.disabled{
        color: grey;
        cursor: alias;
        opacity: 60%;
      }
    }
    .content__item-button:first-child{
      margin-right: 10px;
    }
  }
  .content__item-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    .content__item-footer-salary{
      margin-right: 20px;
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 98.9%;
      text-align: center;}

        }
    .content__item-footer__button{
      cursor: pointer;
      // width: 136.67px;
      height: 41.67px;
          width: 160px;
      border: 4px solid #AF2060;
      box-sizing: border-box;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{

        background: #AF2060;
        span{
          color: #fff;

        }
        i{
          background: #fff;
          color: #AF2060;
        }
        svg {
          path {
            fill:#fff;
          }
        }
      }

      img{
        // position: absolute;
        width: 22px;
        height: 11px;

      }
      span{
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 98.9%;
        text-align: center;
        color: #AF2060;
        margin-right: 6px;
      }
      i{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #AF2060;
        color: #fff;
        font-weight: 600;
        width: 18px;
        height: 18px;
        font-style: normal;
        font-size: 13px;
        line-height: 22px;
        margin-right: 10px;

      }
    }

}
/*********************FOOTER*************/
.footer{

}
.footer__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 1449px;
height: 60px;
background: #AF2060;
  // margin-right: 60px;
  ul{

    display: flex;
    align-items: center;

    li{
      display: inline;
      margin-right: 10px;
      box-sizing: border-box;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin: 0 20px;
/* identical to box height */


color: #000000;
      text-decoration: none;
    }
    a{
      text-decoration: none;
      color: #000;
    }
    a:hover{
    text-decoration: underline;
    // color: #AF2060;
    }

  }
  .active{
    text-decoration: underline;
    color: #AF2060;
  }
}
.footer__down-info{
  display: flex;
}
.footer__down-social{
  display: flex;
}
.footer__down{
  background: #ADB3AE;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.footer__down-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    margin-bottom: 20px;
  }
}
.footer__down-social{
  img{
    margin-right: 40px;
  }
  img:last-child{
    margin-right: 0;
  }
}
/*********************FOOTER*************/
